/* (*-*) (0-0) (.-.) (._.) (о-о) ("-") (^-^) ($-$) ('_') (>_<) (s-s) (-_-) (n-n) (Q-Q) (g-g) (C_C) (c-c) (=-=) (=_=) (:-:) (O_O) (T-T) (T_T) (~_~) (`-`) (0.0) (-_o)
(0-O) (v-v) (o-O) (I-I) (J-J) (X_X) (<->) \_|_/ (\__/) \_(o-o)_/ (8_8) (х-х) (ф-ф) (ж-ж) (б-б) (O.O) (-.-) (_._) (0~0) (o ~ o) (+_+) (9-9) (S_S) (#-#) (/__\) (&-&)
(@-@) (?.?) ('.') ('0') (U-U) (=.=) (='X'=) - 60 вариантовт эмоций для публичного пользования*/
body {
  font-family: "Poppins", "sans-serif";
  color: black;
  font-size: 20px;
  font-weight: 400;
  padding: 15px;
  max-width: 1920px;
  background: url(/images/BG.png);
  background-repeat: no-repeat;
}
.body__big-text {
  color: white;
  margin-top: 180px;
  margin-left: 150px;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  width: 488px;
  height: 228px;
}
.body__small-text {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 563px;
  height: 96.79px;
  margin-left: 150px;
}
.body__ssilka-text1 {
  margin-left: 150px;
  color: black;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  width: 160px;
  height: 56px;
  background: #ffc814;
  border-radius: 4px;
  border: 0px;
}
.body__ssilka-text2 {
  color: black;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  width: 160px;
  height: 56px;
  background: white;
  border-radius: 4px;
  border: 0px;
  margin-left: 20px;
}
