.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  column-gap: 35px;
}
.header__logo-wrapper {
  margin-left: 150px;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: white;
}
.header__spisok {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 38px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  max-width: 582px;
}
.header__ssilka {
  color: white;
  text-decoration: none;
}
.header__ssilka-div1 {
  margin-left: 50px;
}
